
:root {
    --dropShadowColor: rgb(207, 203, 203, 25%)
}

.card {
    border: 1px solid;
    height: 50vh;
}

.cardText {
    border: 1px solid;
    display: block;
    align-content: center;
    padding: 10px;
}

.inputs {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    height: 100%;
    max-height: 250px;

    box-shadow: 2px 2px 4px ;
}