* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --backgroundColor: rgb(251, 249, 249, 100%) ;
    --buttonColor: rgb(207, 67, 7, 100%) ;
    --textColor: rgb(48, 47, 47, 100%) ;
}

body {
    background-color: var(--backgroundColor);
}

main {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid;
    height: 50vh;
}

.cardText {
    border: 1px solid;
}